.data-item {
    border: 2px solid green;
    border-radius: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    padding: 1em 1em; 
}

.data-item:hover {
    background-color: green;
    color: yellow;
    cursor: pointer;
}

.data-item button {
    margin-bottom: 1em;
}

.data-item .edit {
    
    margin-right: 1em;
}

.data-item .edit:hover {
    
    background-color: blue;
}

.data-item .delete:hover {
    background-color: red;
}

.item-btn-container {
    /* padding-top: 1em; */
    display: flex;
    align-items: center;
    align-content: center;
}

.todo-container {
    margin: 3rem 0;
    border-top: 5px solid darkgreen;
}

.icon-container {
    display: flex;
    margin: auto 0;
}

.icon {
    margin-right: 0.75em;;
}

.icon:hover {
    color: lightskyblue;
}